{% load base_tag %}
{% base_info as info %}
<div class="ui vertical menu fluid">
    <a class="item teal">
        {% widthratio user.profile.settings_timedelta.total_seconds 60 1 as minutes %}
        <i class="alarm blue icon"></i>
        <span class="current time">{{ info.current_time }}</span>
        {% if minutes|slice:':1' == '-'  %}
        <div class="ui circular red floating mini label">
            {{ minutes }}
        </div>
        {% elif minutes|slice:':1' != '0'  %}
        <div class="ui circular green floating mini label">
            {{ minutes }}
        </div>
        {% endif %}
    </a>
    {% include 'study/study_review_menu.html' %}
    {% include 'study/study_hard_menu.html' %}
    {% include 'study/study_practice_menu.html' %}
</div>

<div class="ui vertical menu fluid">
    {% include 'found/found_menu.html' %}
</div>

<div class="ui vertical menu fluid">
    {% include 'statistics/statistics_menu.html' %}
</div>