{% load i18n %}

{% trans "Collins words"%}

{% trans "Star1" %}

{% trans "Star2" %}

{% trans "Star3" %}

{% trans "Star4" %}

{% trans "Star5" %}

{% trans "Examination words" %}

{% trans "English translator" %}

{% trans "Three levels of translation 1" %}

{% trans "Three levels of translation 2" %}

{% trans "Second level translation outline" %}

{% trans "GRE" %}

{% trans "CET4" %}

{% trans "CET6" %}

{% trans "High School" %}

{% trans "IELTS" %}

{% trans "Middle school" %}

{% trans "Postgraduate" %}

{% trans "TEM4" %}

{% trans "TEM8" %}

{% trans "TOFEL" %}

{% trans "Profession words" %}

{% trans "Academic" %}

{% trans "Human resources" %}

{% trans "Chemistry" %}

{% trans "Astronomy" %}

{% trans "Toponym" %}

{% trans "Greek Alphabet" %}

{% trans "Medicine" %}

{% trans "Architecture" %}

{% trans "Computer" %}

{% trans "Finance" %}

{% trans "Qsbdc words" %}

{% trans "Level words" %}

{% trans "Level 01" %}

{% trans "Level 02" %}

{% trans "Level 03" %}

{% trans "Level 04" %}

{% trans "Level 05" %}

{% trans "Level 06" %}

{% trans "Level 07" %}

{% trans "Level 08" %}

{% trans "Level 09" %}

{% trans "Level 10" %}

{% trans "Level 11" %}

{% trans "Level 12" %}

{% trans "Level extra" %}

{% trans "Level phrases" %}

{% trans "Other words" %}

{% trans "XieMengYuan Grammar" %}

{% trans "Graduate Core" %}

{% trans "English Test" %}

{% trans "Headword" %}