{% extends 'base/sidebar_page.html' %}
{% load static %}
{% load base_tag %}
{% load i18n %}
{% block title %} {% trans 'Coming' %}  {% endblock %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block content %}

<div class="ui segment">
    <div class="ui grid">
        <div class="ui left floated six wide column">
            <div class="ui huge header"> {% trans 'Coming' %} </div>   
        </div>
        <div class="ui right floated right aligned ten wide column">

        </div>
    </div>
    <table class="ui selectable striped celled table">
        <thead>
            <th class="ui header">{% trans "Date" %}</th>
            <th class="ui header">{% trans "Amount" %}</th>
            <th class="ui header">{% trans "Weekday" %}</th>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                {% if item.count > 300 %}
                    {% set 'td_color' 'negative' %}
                {% elif item.count > 150 %}
                    {% set 'td_color' 'warning' %}
                {% else %}
                    {% set 'td_color' 'positive' %}
                {% endif %}
                <td class="three wide {{td_color}}">
                    <a href="{% url 'date' item.date %}">
                        <div class="ui header blue">
                            {{ item.date }}
                        </div>
                    </a>
                </td>
                <td class="three wide {{td_color}}">
                    {{ item.count }}</td>
                <td class="six wide {{td_color}}">{{ item.date|date:"l" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'base/pagination.html' %}
{% endblock %}
