{% load base_tag %}
{% load words_tag %}
{% load i18n %}

{% if request.resolver_match.url_name == 'coming' %}
    {% set 'coming_active' 'active' %}
{% elif request.resolver_match.url_name == 'count' %}
    {% set 'count_active' 'active' %}
{% elif request.resolver_match.url_name == 'date' %}
    {% set 'date_active' 'active' %}
{% elif request.resolver_match.url_name == 'level' %}
    {% set 'level_active' 'active' %}
{% elif request.resolver_match.url_name == 'error' %}
    {% set 'error_active' 'active' %}
{% endif %}

<a class="item teal {{coming_active}}" href="{% url 'coming'  %}">
    <i class="bar chart teal icon"></i>
    {% trans 'Coming' %}
</a>

<a class="item teal {{count_active}}" href="{% url 'count'  %}">
    <i class="bar chart teal icon"></i>
    {% trans 'Count' %}
</a>

<a class="item teal {{date_active}}" href="{% url 'date'  %}">
    <i class="bar chart teal icon"></i>
    {% trans 'Date' %}

    {% get_date_count as date_count %}
    {% if not date_count %}
        {% set 'date_count_color' "" %}
    {% elif date_count < 50 %}
        {% set 'date_count_color' "green" %}
    {% elif date_count < 100 %}
        {% set 'date_count_color' "blue" %}
    {% elif date_count < 200 %}
         {% set 'date_count_color' "yellow" %}
    {% elif date_count < 500 %}
         {% set 'date_count_color' "pink" %}
    {% else %}
        {% set 'date_count_color' "red" %}
    {% endif %}

    {% if date_count %}
    <div class="ui circular {{ date_count_color }} floating mini label">
        {{ date_count }}
    </div>
    {% endif %}
</a>

<a class="item teal {{level_active}}" href="{% url 'level'  %}">
    <i class="bar chart teal icon"></i>
    {% trans 'Level' %}
</a>

<a class="item teal {{error_active}}" href="{% url 'error'  %}">
    <i class="bar chart teal icon"></i>
    {% trans 'Error' %}
</a>