[Unit]
Description=uWSGI words service
After=network.target

[Service]
Type=simple
User=steven
Group=root

WorkingDirectory=/home/steven/source/github/words/words
Environment="PATH=/home/steven/.envs/words/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=python /home/steven/source/github/words/words/manage.py runserver 0.0.0.0:8888

Restart=always

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
