{% load i18n %}
{% load base_tag %}
{% base_info as base_info %}
<div class="grid">
    <div class="left floated column">
        {% for var in word.star|times %}
            <i class="star yellow icon"></i>
        {% endfor %}

        {% if word.id and word.ranks.exists %}
            {% for rank in word.ranks.all %}
            <div class="ui pink label">
                {{ rank.content }}
            </div>
            {% endfor %}
        {% elif not word.id and word.ranks %}
            {% for rank in word.ranks %}
            <div class="ui pink label">
                {{ rank }}
            </div>
            {% endfor %}
        {% endif %}
        {% if review %}
        <div class="ui basic teal label">
            {{ review.level }}
        </div>
        <div class="ui basic orange label">
            {{ review.error }}
        </div>
        {% endif %}
    </div>
    <div class="right floated column">
        <a class="ui red label" href="https://www.youdao.com/w/eng/{{word.title}}/" target="__blank">
            {% trans "Youdao" %}
        </a>
        <a class="ui blue label" href="https://fanyi.baidu.com/#en/zh/{{word.title}}" target="__blank">
            {% trans "Baidu" %}
        </a>
        {% if review %}
        <div class="ui green label">
            {{ review.first_time }}
        </div>
        {% else %}
        <div class="ui orange label">
            {{ word.create_time }}
        </div>
        {% endif %}
        
    </div>
</div>