<div class="ui card centered segments detail wordcard">
    <div class="extra content">
        {% include 'word_card/word_card_extra_header.html' with review=review %}
    </div>
    <div class="ui content ">
        {% include 'word_card/word_card_title.html' %}
        {% include 'word_card/word_card_phonetic.html' %}
        {% include 'word_card/word_card_study_buttons.html' %}
        {% include 'word_card/word_card_paraphrase_information.html' with word=word %}
        {% include 'word_card/word_card_review_information.html' with review=review %}
        {% include 'word_card/word_card_relation_words.html' %}
        {% include 'word_card/word_card_checklist.html' %}
    </div>
    <div class="extra content">
        {% include 'word_card/word_card_extra_footer.html' with review=review %}
    </div>
</div>
