{% if user.is_authenticated %}
{% load base_tag %}
{% load words_tag %}
{% load i18n %}

{% if request.resolver_match.url_name == 'statistic' %}
    {% set 'statistics_active' 'active' %}
{% elif request.resolver_match.url_name == 'coming' %}
    {% set 'statistics_active' 'active' %}
{% elif request.resolver_match.url_name == 'count' %}
    {% set 'statistics_active' 'active' %}
{% elif request.resolver_match.url_name == 'date' %}
    {% set 'statistics_active' 'active' %}
{% elif request.resolver_match.url_name == 'level' %}
    {% set 'statistics_active' 'active' %}
{% endif %}

<a class="item teal {{statistics_active}}" href="{% url 'statistics'  %}">
    <i class="bar chart teal icon"></i>
    {% trans 'Statistics' %}
</a>
{% endif %}
