<select multiple="" class="ui fluid selection normal dropdown">
    <option value="angular" selected="1">Angular</option>
    <option value="css" selected="1">CSS</option>
    <option value="design">Graphic Design</option>
    <option value="ember">Ember</option>
    <option value="html">HTML</option>
</select>

<hr>

<div class="ui icon input fluid">
  <input class="pop" placeholder="Focus me..." data-content="You can use me to enter data" class="" type="text">
  <i class="search icon"></i>
</div>